html,body{
    height: 100%;
    margin:0;
    display:flex;
    flex-basis: 100%;
}
.box{
    border: 1px solid grey;
}
.boxShadow{
    box-shadow: 0 0 0 0.1px grey;

}

.mainBox{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.contentBox{
    display: flex;
    flex-grow: 1;
}

.sketchBox{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.sideBar{
    flex-basis: 10%;
}

.sketchRow{
    display: flex;
    flex: grow 1;
    flex-basis: 100%;

}
.sketchColumn{
    flex: grow 1;
    flex-basis: 100%;

}