html,body{
    height: 100%;
    margin:0;
    display:flex;
    flex-basis: 100%;
}
.box{
    border: 1px solid grey;
}

.mainBox{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.contentBox{
    display: flex;
    flex-grow: 1;
}

.sketchBox{
    display: flex;
    flex-grow: 1;
    flex-basis: 85%;
    flex-wrap: wrap;
}
.sideBar{
    flex-basis: 10%;
}

.sketchFrame{
    flex: grow 1;
    flex-basis: 6%;

}